/* Global styles */
/* Dice icon */
#chat-controls .dice-calculator-toggle:hover {
  color: #ff9898;
}

/* Calculator Styles */
.dice-calculator {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto 1fr auto;
  grid-gap: 4px;
  margin-bottom: 8px;
}

.dice-calculator > button,
.dice-calculator .dice-calculator--button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 2px;
  font-weight: bold;
  font-size: 18px;
  height: 32px;
  line-height: 1;
}

.dice-calculator > button:hover,
.dice-calculator .dice-calculator--button:hover {
  -webkit-box-shadow: 0 0 5px rgba(255, 0, 0, 0.35);
  box-shadow: 0 0 5px rgba(255, 0, 0, 0.35);
}

.dice-calculator > .dice-calculator__d2,
.dice-calculator > .dice-calculator__d3 {
  display: none;
}

.dice-calculator--light {
  background-color: rgba(0, 0, 0, 0.15);
}

.dice-calculator--dark {
  background-color: rgba(0, 0, 0, 0.3);
  border-color: #7d7d7d;
}

.dice-calculator--op {
  background-color: rgba(226, 0, 0, 0.5);
  border-color: #c84646;
}

.dice-calculator--math {
  background-color: rgba(255, 177, 0, 0.5);
  border-color: #c88c00;
}

.dice-calculator--confirm {
  background-color: rgba(0, 160, 175, 0.5);
  border-color: #048790;
}

.dice-calculator--stat,
.dice-calculator--attr,
.dice-calculator--custom {
  text-transform: uppercase;
}

.dice-calculator--stat {
  background-color: rgba(185, 70, 160, 0.5);
  border-color: #8c2da5;
}

.dice-calculator--attr {
  background-color: rgba(19, 0, 177, 0.5);
  border-color: #1300b1;
}

.dice-calculator--custom {
  background-color: rgba(145, 75, 235, 0.3);
  border-color: #8c2da5;
}

.dice-calculator__input {
  grid-column-start: 1;
  grid-column-end: span 4;
  grid-row-start: 1;
  grid-row-end: span 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.dice-calculator__input-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  position: relative;
  text-align: right;
}

.dice-calculator__input > label {
  font-size: 20px;
  padding-right: 12px;
}

.dice-calculator__input-wrapper > textarea {
  font-size: 14px;
  width: auto;
  min-height: 80px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  resize: none;
}

.dice-calculator__rolls--hidden {
  position: absolute;
  background: #ffffff;
  width: 100%;
  left: 0;
  right: 0;
  top: 100%;
  z-index: 10;
  display: none;
}

.dice-calculator__rolls--hidden.visible {
  display: block;
}

.dice-calculator__roll {
  padding: 4px 8px;
  color: #999;
  border: 1px solid #999;
  border-top: 0;
  position: relative;
  z-index: 12;
}

.dice-calculator__roll:hover {
  background-color: #333;
  color: #fff;
}

/* Row 2 */
.dice-calculator__d100 {
  grid-column-start: 1;
  grid-row-start: 3;
}

.dice-calculator__dx {
  grid-column-start: 2;
  grid-row-start: 3;
}

.dice-calculator__del {
  grid-column-start: 3;
  grid-row-start: 3;
}

.dice-calculator__ac {
  grid-column-start: 4;
  grid-row-start: 3;
}

/* Row 3 */
.dice-calculator__d4 {
  grid-column-start: 1;
  grid-row-start: 4;
}

.dice-calculator__d6 {
  grid-column-start: 2;
  grid-row-start: 4;
}

.dice-calculator__d8 {
  grid-column-start: 3;
  grid-row-start: 4;
}

.dice-calculator__div {
  grid-column-start: 4;
  grid-row-start: 4;
}

/* Row 4 */
.dice-calculator__d10 {
  grid-column-start: 1;
  grid-row-start: 5;
}

.dice-calculator__d12 {
  grid-column-start: 2;
  grid-row-start: 5;
}

.dice-calculator__d20 {
  grid-column-start: 3;
  grid-row-start: 5;
}

.dice-calculator__mul {
  grid-column-start: 4;
  grid-row-start: 5;
}

/* Row 5 */
.dice-calculator__7 {
  grid-column-start: 1;
  grid-row-start: 6;
}

.dice-calculator__8 {
  grid-column-start: 2;
  grid-row-start: 6;
}

.dice-calculator__9 {
  grid-column-start: 3;
  grid-row-start: 6;
}

.dice-calculator__min {
  grid-column-start: 4;
  grid-row-start: 6;
}

/* Row 6 */
.dice-calculator__4 {
  grid-column-start: 1;
  grid-row-start: 7;
}

.dice-calculator__5 {
  grid-column-start: 2;
  grid-row-start: 7;
}

.dice-calculator__6 {
  grid-column-start: 3;
  grid-row-start: 7;
}

.dice-calculator__plu {
  grid-column-start: 4;
  grid-row-start: 7;
}

/* Row 7 */
.dice-calculator__1 {
  grid-column-start: 1;
  grid-row-start: 8;
}

.dice-calculator__2 {
  grid-column-start: 2;
  grid-row-start: 8;
}

.dice-calculator__3 {
  grid-column-start: 3;
  grid-row-start: 8;
}

.dice-calculator__kh {
  grid-column-start: 4;
  grid-row-start: 8;
}

/* Row 8 */
.dice-calculator__0 {
  grid-column-start: 1;
  grid-row-start: 9;
}

.dice-calculator__p-left {
  grid-column-start: 2;
  grid-row-start: 9;
}

.dice-calculator__p-right {
  grid-column-start: 3;
  grid-row-start: 9;
}

.dice-calculator__kl {
  grid-column-start: 4;
  grid-row-start: 9;
}

.dice-calculator__actor {
  grid-column-start: 1;
  grid-column-end: span 4;
  grid-row-start: 10;
}

/* Row 9 */
.dice-calculator__btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 4px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
}

.dice-calculator__btn-group:first-child {
  margin-top: 2px;
}

.dice-calculator__btn-group:last-child {
  padding-bottom: 0;
}

.dice-calculator__actor .dice-calculator--button {
  width: auto;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  height: 32px;
  padding: 4px 8px;
  margin: 2px;
  white-space: nowrap;
}

.dice-calculator__btn-group .dice-calculator--button {
  min-width: 20%;
}

.dice-calculator__abil .dice-calculator--button {
  min-width: 0;
}

.dialog--dice-calculator .dialog-button {
  background-color: rgba(76, 177, 0, 0.5);
  border-color: #429600;
  font-weight: bold;
  font-size: 18px;
  height: 32px;
  line-height: 1;
  text-transform: uppercase;
}

.dice-tray {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
}

.dice-tray > * {
  margin: 2px;
}

.dice-tray .dice-tray__stacked {
  height: 34px;
  margin-right: 2px;
}

.dice-tray .flexrow {
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.dice-tray button {
  background: transparent;
  border: 1px solid #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  -webkit-box-shadow: 0 0 6px inset #8d9ea7;
  box-shadow: 0 0 6px inset #8d9ea7;
  -webkit-transition: all ease-in-out 0.25s;
  -o-transition: all ease-in-out 0.25s;
  transition: all ease-in-out 0.25s;
  position: relative;
}

.dice-tray button:hover {
  color: #ff6400;
  border-color: #ff6400;
  -webkit-box-shadow: 0 0 6px inset #ff6400;
  box-shadow: 0 0 6px inset #ff6400;
}

.dice-tray button:hover svg * {
  fill: #ff6400;
}

.dice-tray button.dice-tray__roll:hover {
  background: #ff6400;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #fff;
}

.dice-tray button.dice-tray__math--sub:hover {
  background: #ff6400;
  -webkit-box-shadow: 0 0 6px inset #ff6400;
  box-shadow: 0 0 6px inset #ff6400;
  color: #fff;
}

.dice-tray button.dice-tray__math--add:hover {
  background: #0a9843;
  -webkit-box-shadow: 0 0 6px inset #0a9843;
  box-shadow: 0 0 6px inset #0a9843;
  border-color: #0a9843;
  color: #fff;
}

.dice-tray button.dice-tray__ad {
  font-size: 10px;
  height: 17px;
  -webkit-box-flex: 17px;
  -ms-flex: 17px;
  flex: 17px;
  line-height: 1;
  text-transform: uppercase;
}

.dice-tray button.dice-tray__advantage:hover, .dice-tray button.dice-tray__advantage.active {
  background: #0a9843;
  -webkit-box-shadow: 0 0 6px inset #0a9843;
  box-shadow: 0 0 6px inset #0a9843;
  border-color: #0a9843;
  color: #fff;
}

.dice-tray button.dice-tray__disadvantage:hover, .dice-tray button.dice-tray__disadvantage.active {
  background: #ff6400;
  -webkit-box-shadow: 0 0 6px inset #ff6400;
  box-shadow: 0 0 6px inset #ff6400;
  color: #fff;
}

.dice-tray button svg {
  width: 100%;
  height: auto;
  -webkit-transition: all ease-in-out 0.25s;
  -o-transition: all ease-in-out 0.25s;
  transition: all ease-in-out 0.25s;
}

.dice-tray button svg * {
  fill: #fff;
}

.dice-tray button .dice-tray__flag {
  position: absolute;
  bottom: calc(100% - 2px);
  left: 0;
  right: 0;
  font-size: 14px;
  height: 18px;
  line-height: 1;
  background-color: #ff6400;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 4px 4px 0 0;
  max-height: 18px;
  -webkit-transition: all ease-in-out 0.15s;
  -o-transition: all ease-in-out 0.15s;
  transition: all ease-in-out 0.15s;
}

.dice-tray button .dice-tray__flag:hover, .dice-tray button .dice-tray__flag:focus {
  background-color: #ff6400;
  color: #fff;
}

.dice-tray button .dice-tray__flag.hide {
  max-height: 0;
}

.dice-tray input[type="text"] {
  display: block;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  background-color: rgba(250, 250, 250, 0.15);
  border: 1px solid #000;
  -webkit-box-shadow: 0 0 6px inset #fff;
  box-shadow: 0 0 6px inset #fff;
}

.dice-tray input[type="text"]:hover, .dice-tray input[type="text"]:focus {
  border: 1px solid #ff6400;
  -webkit-box-shadow: 0 0 6px inset #ff6400;
  box-shadow: 0 0 6px inset #ff6400;
}

/* Inline rolls. */
.dc-inline-roll {
  display: inline-block;
  position: relative;
}

.dc-inline-roll__result,
.dc-inline-roll__parts {
  display: inline-block;
  background: rgba(0, 0, 0, 0.75);
  color: #fff;
  padding: 0 4px;
  border-radius: 2px;
}

.dc-inline-roll__parts {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  white-space: nowrap;
  background: rgba(50, 50, 50, 0.75);
  padding: 4px 8px;
  z-index: 999;
}

.dc-inline-roll:hover .dc-inline-roll__parts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dc-formula {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  padding: 4px 0;
  line-height: 1;
}

.dc-parts {
  padding: 8px 0 4px;
  line-height: 1;
}

.dc-discarded {
  opacity: 0.3;
}
